<div class="container tm-mt-big tm-mb-big">
  <div class="row">
    <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
      <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
        <div class="row">
          <div class="col-12">
            <h2 class="tm-block-title d-inline-block">Thêm Sách</h2>
          </div>
        </div>
        <div class="row tm-edit-product-row">
          <div class="col-xl-6 col-lg-6 col-md-12">
            <form action="/products/add/{{id}}" method="post" enctype="multipart/form-data"
              class="tm-edit-product-form" onsubmit="return addValidate(this)">
              <div class="form-group mb-3">
                <label for="title">Tên sách
                </label>
                <input id="title" name="title" type="text" class="form-control validate"/>
              </div>
              <div class="form-group mb-3">
                <label for="detail">Mô tả</label>
                <textarea class="form-control validate tm-small" rows="5" id="detail" name="detail"
                  ></textarea>
              </div>

              <div class="form-group mb-3">
                <label for="category"> Nhãn Sách</label>
                <select class="custom-select tm-select-accounts" id="category" name="category">
                  {{#each categories}}
                  <option>{{category_name}}</option>
                  {{/each}}
                </select>
              </div>

              <div class="row">
                <div class="form-group mb-3 col-xs-12 col-sm-6">
                  <label for="author">Tác giả
                  </label>
                  <input id="author" name="author" type="text" class="form-control validate" data-large-mode="true" />
                </div>
                <div class="form-group mb-3 col-xs-12 col-sm-6">
                  <label for="price">Giá
                  </label>
                  <input id="price" name="price" type="text" class="form-control validate"  />
                </div>
              </div>
              <div class="row">
                
                <div class="form-group mb-3 col-xs-12 col-sm-6">
                  <label for="stock">Tồn kho
                  </label>
                  <input id="stock" name="stock" type="text"  class="form-control validate"  />
                </div>
              </div>

          </div>
          <div class="col-xl-6 col-lg-6 col-md-12 mx-auto mb-4">
           
            <div class="tm-product-img-edit mx-auto">
              <img src="" alt="" class="avatar img-fluid d-block mx-auto">

            </div>
            <div class="custom-file mt-3 mb-3">
              <input id="avatar" type="file" name="avatar" style="display:none;" class="file-upload">
              <input type="button" class="btn btn-primary btn-block mx-auto" value="THAY ĐỔI ẢNH NỀN"
                onclick="document.getElementById('avatar').click();" />
            </div>
          </div>
          <div class="col-12">
            <button type="submit" class="btn btn-primary btn-block text-uppercase">Thêm sản phẩm</button>
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>